main {
  padding: 2rem;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 30rem;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

main p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

button {
  padding: 2rem;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  color: white;
  background-color: var(--pc);
  transition: 0.5s ease-in-out;
}

button:active,
button:hover {
  background-color: transparent;
  border: 1px solid var(--pc);
  color: var(--pc);

  transform: scale(1.08);
}

footer {
  margin-bottom: -10rem;
}
